@font-face {
  font-family: "libre_baskerville";
  src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("../fonts/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "libre_baskerville";
  src: url("../fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-ExtraBold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "eczar";
  src: url("../fonts/Eczar-SemiBold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
html, body {
  font-family: "libre_baskerville", Georgia, serif;
  font-size: 24px;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "eczar", Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  line-height: 1rem;
  margin: 0;
}

a {
  color: #76E841;
}

a:hover {
  color: #0f0;
}

a:visited {
  color: #337711;
}

article.heraldry-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
article.heraldry-list img {
  width: 64px;
  margin-right: 1rem;
}

blockquote {
  background: #F5FCF2;
  border-left: 2px solid #76E841;
  padding: 0.5rem 1rem;
}

button, input[type=submit] {
  background: #25a30e;
  background: linear-gradient(0deg, #25a30e 0%, #76e841 100%);
  border: none;
  border-radius: 3px;
  color: #000;
  padding: 0.5rem 1rem;
}

button:active, input[type=submit]:active {
  background: #25a30e;
  background: linear-gradient(180deg, #25a30e 0%, #76e841 100%);
  color: #76E841;
  transform: translateY(4px);
}

button:hover, input[type=submit]:hover {
  color: #fff;
}

div.columns {
  display: flex;
  width: 100%;
}
div.columns div.column {
  margin: 0 0.5rem;
}

div.heraldry-large {
  width: 100%;
  text-align: center;
}
div.heraldry-large img {
  margin: 0 auto;
  width: 400px;
}

div.input-group {
  font-size: 0.8rem;
  margin: 0.5rem;
}

figure.heraldry {
  text-align: center;
  width: 400px;
}

nav {
  border-bottom: 3px double #eee;
  border-top: 3px double #eee;
}
nav ul {
  list-style: none;
  display: flex;
  width: 100%;
}
nav ul li {
  font-family: "eczar", Helvetica, sans-serif;
  display: inline-block;
  margin: 0 0.5rem;
}
nav ul li a {
  text-decoration: none;
}

header, nav, section, footer {
  width: 968px;
  margin: 0 auto;
}

@media (max-width: 968px) {
  header, nav, section, footer {
    width: 100%;
  }
}
header {
  display: flex;
  align-items: center;
}
header img.logo {
  height: 128px;
  width: 128px;
}
header p.subtitle {
  margin: 0;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 1rem;
  font-size: 0.75rem;
}

/*# sourceMappingURL=app.css.map */
