@charset "utf-8";

@font-face {
    font-family: 'libre_baskerville';
    src: url('../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
    url('../fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'libre_baskerville';
    src: url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
    url('../fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'libre_baskerville';
    src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
    url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eczar';
    src: url('../fonts/Eczar-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'eczar';
    src: url('../fonts/Eczar-ExtraBold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'eczar';
    src: url('../fonts/Eczar-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'eczar';
    src: url('../fonts/Eczar-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'eczar';
    src: url('../fonts/Eczar-SemiBold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

html, body {
    font-family: 'libre_baskerville', Georgia, serif;
    font-size: 24px;
}

h1, h2, h3, h4, h5 {
    font-family: 'eczar', Helvetica, sans-serif;
}

.active {
    font-weight: 800;
    font-style: italic;
}

.navbar {
    border-bottom: 5px double #eee;
}

.heraldry {
    width: 400px;
}

.heraldry-small {
    width: 64px;
}

