{% extends 'layout' %}

{% block content %}
<div class="has-text-centered">
    <p class="blazon is-italic is-size-3">{{ heraldry.blazon }}</p>
    <img src="{{ heraldry.url }}">
</div>
{% endblock %}
